.contato{
    background-color: #000000;
}

.btn-form {
    background-color: transparent !important;
    margin-top: 10px;
    color: #f1f1f1 !important;
}

.btn-form:hover {
    border: 1px solid #f1f1f1 !important;
    transition-duration: 0.5s !important;
    color: #424242 !important;
}

.info h3{
    margin-top: 80px;
}

#rede-s h4{
    color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#rede-s p{
    color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cont h3{
    color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#cont h2{
    color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

#cont p{
    color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#git{
    width: 30px;
    height: 30px;
	
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
}